<ion-header style="margin-top:80px;">
  <ion-toolbar>
    <ion-title> Galeria </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="text-align: center;">

 <br/>
  <h1>Stephanie Osuna</h1>
  <ion-slides pager="true" [options]="slideOpts">       
    <ion-slide *ngFor="let img of images_18">
      <img src="{{img}}" tappable (click)="openPreview(img)" />
    </ion-slide>
  </ion-slides>
  <br/>
  <h1>Alma Tlazola</h1>
  <ion-slides pager="true" [options]="slideOpts">       
    <ion-slide *ngFor="let img of images_24">
      <img src="{{img}}" tappable (click)="openPreview(img)" />
    </ion-slide>
  </ion-slides>
  <br/>
<h1>Viana Hernández</h1>
  <ion-slides pager="true" [options]="slideOpts">   
    <ion-slide *ngFor="let img of images_15">     
      <img src="{{img}}" tappable (click)="openPreview(img)" />
      
    </ion-slide>
  </ion-slides>
  <br/>
<h1>Stephani Esparza</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_13">
    <img src="{{img}}" tappable (click)="openPreview(img)" />
  </ion-slide>
</ion-slides>
<br/>
<h1>Danny Michel </h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_12">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
  </ion-slide>
</ion-slides>
<br/>
<h1>Michel Ingelmo</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_11">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
  </ion-slide>
</ion-slides>
<br/>
<h1>Frida Contreras</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_10">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
  </ion-slide>
</ion-slides>
<br/>
<h1>Dulce Alejo</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_8">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
  </ion-slide>
</ion-slides>
<br/>
<h1>Naty Ambrocio</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_7">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
    <!-- <h4 class="centered"  [innerHTML]="img"></h4> -->
  </ion-slide>
</ion-slides>
<br/>
<h1>Andrómeda Sánchez</h1>
<ion-slides pager="true" [options]="slideOpts">   
  <ion-slide *ngFor="let img of images_1">
    <img src="{{img}}" tappable (click)="openPreview(img)"/>
    <!-- <h4 class="centered"  [innerHTML]="img"></h4> -->
  </ion-slide>
</ion-slides>
  <div style="height:50px;"></div>
</ion-content>
