ion-slides {
    
   // background: #e6e6e6;
    img {
        
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }