<ion-header>
  <ion-toolbar>
    <ion-title>
      Siempre a tus Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let btr of beauters">
    <ion-list>
      <!-- *ngIf="enabledServices.includes(service.id)" -->
      <ion-item button (click)="presentModal(btr)">
        <ion-avatar slot="start">
          <img src="../../../assets/images/web/{{btr.img}}">
        </ion-avatar>
        <ion-label>
          <h2> {{btr.job}} <br> <small>{{btr.name}} </small></h2>
         <p>{{btr.job}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

   
  </div>
  <div style="height:50px;"></div>
</ion-content>
