:host {
  height: 86px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px 0;

  img {
    width: 225px;
    margin: auto;
  }
}

ion-icon {
  font-size: xx-large;
}


// @media (pointer:none), (pointer:coarse) {
//   ion-toolbar {
//     display: none;
//   }
//   :host {
//     height:0px;
//   }
// }