<ion-content [fullscreen]="true">

  <div *ngIf="loadingFlag" class="loaderContainer">
    <ion-spinner name="crescent" style="margin-top: 50%;"  color="#e4c683" ></ion-spinner>
  </div>

  <div [ngStyle]="{display: loadingFlag ? 'none': 'block'}">

    <div class="panel" *ngFor="let serviceCategory of serviceCategories">
      <div class="category" (click)="serviceCategory.panel=!serviceCategory.panel">
        <ion-img src="../../../assets/images/categories/{{ serviceCategory.id }}-CAT.jpg"></ion-img>
        <p class="panelTitle"> {{serviceCategory.name}} </p>
      </div>
      <div [ngStyle]="{display: !serviceCategory.panel ? 'none': 'block'}">

        <small style="margin-left: 70px; color: red;">* precios aplican s&oacute;lo en {{ currentRegionDisplayName
          }}</small>

        <div *ngFor="let service of serviceCategory.services" class="serv_{{serviceCategory.id}}" #services>

          <ion-list>
            <ion-item button
              (click)="presentItemDescriptionModal(service, '../../../../assets/images/categories/services/' + serviceCategory.id + '-' + service.id + '-' + service.service_id+'.jpg')">
              <ion-avatar slot="start">
                <img
                  src="../../../assets/images/categories/services/{{ serviceCategory.id }}-{{ service.id }}-{{ service.service_id }}.jpg">
              </ion-avatar>
              <ion-label>
                <h2> {{service.name}}</h2>
                <h1>{{service.public_price | currency:'MXN':'symbol'}}</h1>
              </ion-label>
            </ion-item>
          </ion-list>

        </div>

      </div>
    </div>

    <a class="panel" routerLink="/gallery">
      <div class="category">
        <ion-img src="https://storage.googleapis.com/bn_public/img/gallery.png"></ion-img>
        <p class="panelTitle">Galer&iacute;a</p>
      </div>
    </a>

    <a class="panel" routerLink="/beautiers">
      <div class="category">
        <ion-img src="https://storage.googleapis.com/bn_public/img/beautiers.jpeg"></ion-img>
        <p class="panelTitle">Beautiers</p>
      </div>
    </a>

    <div style="height:50px;"></div>
  </div>
</ion-content>
