@import './colors';
@font-face {
  font-family: JAAPOKKI;
  src: url('../assets/fonts/FontJaapokki/Regular/web/jaapokki-regular.woff');
}
@font-face {
  font-family: AVENIRBLACK;
  src: url('../assets/fonts/Avenir/AvenirBlack.ttf');
}
@font-face {
  font-family: AVENIRLIGHT;
  src: url('../assets/fonts/Avenir/AvenirLight.ttf');
}
.font-playfair-display-400 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;

  &__italic {
    font-style: italic;
  }
}

.font-montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500
}

.font-open-sans-300 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.font-eclipse {
  color: $eclipse;
}
