
<ion-menu side="end" type="push" contentId="main" (ionWillOpen)="test()">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="isAuthenticated" routerLink="/user-profile" (click)="close()"><ion-icon name="person-circle-outline"></ion-icon>Mi Perfil</ion-item>
      <ion-item *ngIf="!isAuthenticated" routerLink="/login" (click)="close()"><ion-icon name="log-in-outline"></ion-icon>Iniciar sesi&oacute;n</ion-item>
      <ion-item *ngIf="isAuthenticated" (click)="logout()"><ion-icon name="log-in-outline"></ion-icon>Cerrar sesi&oacute;n</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
