
<ion-content fullscreen>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closeModal()">

      <ion-icon name="return-down-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="padding: 20px; text-align: center">
 
  <img   src="../../../../assets/images/web/{{service.img}}" style="cursor: pointer;" />
  <h1>{{service.name}}</h1>
  <h3>{{service.job}}</h3>
  <p style="text-align: justify;">{{service.nota}}</p>



  <ion-slides pager="true" [options]="slideOpts">   
    <ion-slide *ngFor="let img of service.work">
      <img src="{{img}}" tappable  (click)="openPreview(img)"/>
    </ion-slide>
  </ion-slides>


</div>
  </ion-content>
  