<ion-content class="movil">
  <form>
    <h1>SOLICITUD PARA SUPRESI&Oacute;N DE DATOS</h1>
    <p>
      Usted tiene derecho a solicitarnos que borremos cualquier dato personal que tengamos guardado sobre Usted en nuestro sistema. Haremos todo lo posible para responder con prontitud y, en cualquier caso, en el plazo de un 30 d&iacute;as a partir de lo siguiente:
    </p>
    <ul>
      <li>Nuestra recepci&oacute;n de su solicitud por escrito; o</li>
      <li>La recepci&oacute;n de cualquier informaci&oacute;n adicional que podamos pedirle para poder cumplir con su solicitud, lo que ocurra m&aacute;s tarde.</li>
    </ul>
    <p>
      La informaci&oacute;n que nos proporcione en este formulario se utilizar&aacute; &uacute;nicamente para identificar los datos personales que nos solicita que borremos y para responder a su solicitud. No est&aacute; obligado a rellenar este formulario para realizar una solicitud, pero si lo hace nos facilitar&aacute; la tramitaci&oacute;n de su solicitud con rapidez.
    </p>
    <h2>SECCI&Oacute;N 1</h2>
    <h4>Informaci&oacute;n del solicitante</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Nombre(s)"
            required="true"
          ></ion-input>
        </ion-col>
        <ion-col>
          <ion-input
            placeholder="Apellido(s)"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Domicilio"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Domicilio (2)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Ciudad"
            required="true"
          ></ion-input>
        </ion-col>
        <ion-col>
          <ion-input
            placeholder="Estado"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="C&oacute;digo Postal"
            required="true"
          ></ion-input>
        </ion-col>
        <ion-col>
          <ion-input
            placeholder="Pa&iacute;s"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="N&uacute;mero Telef&oacute;nico"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Contrase&ntilde;a"
            required="true"
          ></ion-input>
        </ion-col>
        <ion-col>
          <ion-input
            placeholder="Confirmar contrase&ntilde;a"
            required="true"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h2>SECCI&Oacute;N 2</h2>
    <h4>&iquest;Es Usted la persona en cuesti&oacute;n?</h4>
    <p>
      Marque la casilla correspondiente y lea las instrucciones que le siguen:
    </p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-checkbox></ion-checkbox>&nbsp;S&Iacute;: Yo soy la persona en cuesti&oacute;n. Adjunto prueba de mi identidad (ver abajo). Por favor proceda a la secci&oacute;n 4.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox></ion-checkbox>&nbsp;NO: Estoy actuando en nombre de la persona en cuesti&oacute;n. Adjunto la autorizaci&oacute;n escrita del interesado y la prueba de su identidad y la m&iacute;a (ver abajo). Por favor proceda a la secci&oacute;n 3.
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4>PRUEBAS DE IDENTIDAD ACEPTABLES</h4>
    <ul>
      <li>Pasaporte</li>
      <li>Licencia de conducir</li>
      <li>Documento nacional de identidad</li>
      <li>Acta de Nacimiento</li>
    </ul>
    <h2>SECCI&Oacute;N 3</h2>
    <h4>Motivo de la solicitud de supresi&oacute;n</h4>
    <ion-input
      placeholder="Motivo de la solicitud"
      required="true"
    ></ion-input>
    <h2>SECCI&Oacute;N 4</h2>
    <h4>Declaraci&oacute;n</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-checkbox></ion-checkbox>&nbsp;Confirmo que he le&iacute;do y entendido este formulario y certifico que los datos que he proporcionado son verdaderos. Entiendo que ser&aacute; necesario que Beauty Now confirme la identidad de la persona en cuesti&oacute;n as&iacute; como del solicitante en caso de no ser &eacute;sta la misma.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Firma digital (escriba su nombre)"
            required="true"></ion-input>
        </ion-col>
        <ion-col>
          <ion-datetime></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>Adjuntos (comprobantes de indentidad). S&oacute;lo JPG o PDF.</h4>
        </ion-col>
        <ion-col>
          <ion-input
            placeholder="Adjuntos"
            type="file"
            required="true"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
          >Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
