
<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>DETALLES DE PAGO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!loadingFlag" class="loaderContainer">
        <ion-spinner name="crescent"  color="#e4c683"></ion-spinner>
      </div>

      <ion-grid  *ngIf="loadingFlag">
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <img src="../../../../../assets/images/shopping-cart/visa.svg" />
          </ion-col>
          <ion-col size="4">
            <img src="../../../../../assets/images/shopping-cart/mc.svg" />
          </ion-col>
          <ion-col size="4">
            <img src="../../../../../assets/images/shopping-cart/ae.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <form [formGroup]="ccForm" *ngIf="loadingFlag">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-input
                placeholder="N&uacute;mero de la Tarjeta"
                type="number"                 
                formControlName="number"
                data-conekta="card[number]">
              </ion-input>
            
            <span
            class="error"
            *ngIf="!ccForm.controls.number.untouched && ccForm.controls.number.hasError('required')"
            > Campo requerido
            </span>
            <span class="error" *ngIf="!ccForm.controls.number.untouched && ccForm.controls.number.hasError('pattern')"> N&uacute;mero invalido </span>             
            </ion-col>
            <ion-col size="4">
              <ion-input
                placeholder="CVC"
                type="number"                
                formControlName="cvc"
                data-conekta="card[cvc]"
                >
              </ion-input>
              <span
                class="error"
                *ngIf="!ccForm.controls.cvc.untouched && ccForm.controls.cvc.hasError('required')"
                >
                Campo requerido
              </span>  
              <span class="error"  *ngIf="!ccForm.controls.cvc.untouched && ccForm.controls.cvc.hasError('pattern')">CVC invalido</span> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span>Fecha de Vencimiento</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-datetime
                presentation="month"
                placeholder="Mes"
                formControlName="exp_month"
                display-format="MM"
                data-conekta="card[exp_month]">
              </ion-datetime>
            </ion-col>
            <ion-col size="4">
              <ion-datetime
                placeholder="A&ntilde;o"
                presentation="year"
                formControlName="exp_year"
                display-format="YYYY"
                min="{{ getMinYear() }}"
                max="{{ getMaxYear() }}"
                data-conekta="card[exp_year]">
              </ion-datetime>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-input
                placeholder="Nombre"
                formControlName="first_name"
                data-conekta="card[name]">
              </ion-input>
              
              <span
                class="error"
                *ngIf="!ccForm.controls.first_name.untouched && ccForm.controls.first_name.hasError('required')"
                >
                Campo requerido
              </span>
              <span
                class="error"
                *ngIf="!ccForm.controls.first_name.untouched && ccForm.controls.first_name.hasError('pattern')"
                [innerHTML]="inputValidators.name.errorMessage">
              </span>
            </ion-col>
            <ion-col size="6">
              <ion-input
                placeholder="Apellido"
                formControlName="last_name">
              </ion-input>
              <span
                class="error"
                *ngIf="!ccForm.controls.first_name.untouched && ccForm.controls.last_name.hasError('required')"
                > Campo requerido
              </span>
              <span
                class="error "
                *ngIf="!ccForm.controls.last_name.untouched && ccForm.controls.last_name.hasError('pattern')"
                [innerHTML]="inputValidators.name.errorMessage">
              </span>
            </ion-col>
          </ion-row>          
          <ion-row>
            <ion-col size="12">
              <ion-input
                placeholder="Correo Electr&oacute;nico"
                formControlName="email"
                type="email">
              </ion-input>  
              <span
                class="error"
                *ngIf="!ccForm.controls.email.untouched && ccForm.controls.email.hasError('required')"
                >Campo requerido
              </span>  
              <span
              class="error"
              *ngIf="!ccForm.controls.email.untouched && ccForm.controls.email.hasError('pattern')"
              [innerHTML]="inputValidators.email.errorMessage">
            </span>          
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-intl-tel-input
                inputPlaceholder="Tel&eacute;fono"
                [onlyCountries]="['mx', 'us']"
                [modalTitle]="'Selecciona tu Pa&iacute;s'"
                [modalSearchPlaceholder]="'Ingresa el nombre de tu pa&iacute;s'"
                [modalCloseText]="'Cerrar'"
                formControlName="phone"
              ></ion-intl-tel-input>
              <span
                class="error"
                *ngIf="!ccForm.controls.phone.untouched && ccForm.controls.phone.hasError('required')"
                >Campo requerido
              </span>                
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <!-- [disabled]="!(ccForm.touched && ccForm.valid)"  -->
      <ion-button
        expand="block"
        (click)="submitPayment()"
        [disabled]="!(ccForm.touched && ccForm.valid)"
        *ngIf="loadingFlag ">Emitir Pago</ion-button>
        <div *ngIf="!loadingFlag "><strong>Estamos procesando su pago.</strong></div>
    </ion-card-content>
  </ion-card>
</ion-content>
