@import '../../../../../theme/view-container.scss';

:host {
  @extend .view-container;

ion-spinner {
  width: 10em;
  height: 10em;
}
.error {
  color: red;
}
.loaderContainer {
  color:#e4c683;
  text-align: center;
}
}
