<ion-content fullscreen>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closeModal()">
      <ion-icon name="return-down-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="padding: 20px; text-align: center">
    <img src="{{ beautier.photo_url }}" style="cursor: pointer;" />
    <h1>{{ beautier.preferred_name }}</h1>
    <h3>{{ beautier.title }}</h3>
    <p style="text-align: justify;">{{ beautier.bio }}</p>
    <app-beautier-work [beautier]="beautier"></app-beautier-work>
  </div>
</ion-content>
