<ion-content [fullscreen]="true">
<!-- maquillaje -->
  <div class='panel'> <!-- agregar ng for para los servicios *ngFor="let servicio of services; index as i;"-->
    <div class="categori" (click)="panel1=!panel1">
      <h3 class="panelTitle">Maquillaje</h3> <!-- {{servicio.name}} -->
      <ion-img  [src]="'./assets/images/web/inicio-1.png'"></ion-img> <!-- {{servicio.img}} -->
      
      
    </div>
      <div [ngStyle]="{display: !panel1 ? 'none': ''}">
        <ion-list>
          <ion-item button (click)="presentModal(services[0].items[0])"> <!-- *ngFor="let item of servicio.items" agregar ng for por itewm-->
            <ion-avatar slot="start">
              <img src="./assets/images/web/inicio-3.jpeg">
            </ion-avatar>
            <ion-label>
              <h1>Maquillaje Social Noche o Dia</h1>
              <h1>MX $950</h1>
              <!-- <p>Tan Natural o dramatico como lo dese...</p> -->
              
            </ion-label>
          </ion-item>         
        </ion-list>
      </div>
    
    </div>
  <!-- peinado -->
  <div class='panel'>
    <div class="categori" (click)="panel2=!panel2">
      <h3 class="panelTitle" style="transform: translate(28%, 27%);">Peinado</h3>
      <ion-img  src="./assets/images/web/inicio-1.png"></ion-img>
      
    </div>
      <div [ngStyle]="{display: !panel2 ? 'none': ''}">
        <ion-list>
        <!-- item 1 -->
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/images/web/inicio-3.jpeg">
            </ion-avatar>
            <ion-label>
              <h2>Peinado Basico</h2>
              <h3>MX $430</h3>
              <p>Desde un alaciado hasta unas ondas re...</p>                  
            </ion-label>
          </ion-item>   
             <!-- item 2 -->
             <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Peinado Elaborado</h2>
                <h3>MX $620</h3>
                <p>Pulido o relajado tu recogido o semi...</p>                   
              </ion-label>
            </ion-item>  
             <!-- item 3 -->
             <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Alto Peinado</h2>
                <h3>MX $830</h3>
                <p>Un Peinado con alto grado de dificu...</p>                    
              </ion-label>
            </ion-item>  

        </ion-list>
      </div>    
    </div>
    <!-- Maquillaje y Peinado -->
    <div class='panel'>
      <div class="categori" (click)="panel3=!panel3">
        <h3 class="panelTitle" style="font-size: 50px; transform: translate(-8%, 10%);">Maquillaje y Peinado</h3>
        <ion-img  src="./assets/images/web/inicio-1.png"></ion-img>
        
      </div>
        <div [ngStyle]="{display: !panel3 ? 'none': ''}">
          <ion-list>
          <!-- item 1 -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Maquillaje Social y Peinado Basico </h2>
                <h3>MX $1250</h3>
                <p>El maquillaje a tu gusto, con un pei...</p>                      
              </ion-label>
            </ion-item>   
               <!-- item 2 -->
               <ion-item>
                <ion-avatar slot="start">
                  <img src="./assets/images/web/inicio-3.jpeg">
                </ion-avatar>
                <ion-label>
                  <h2>Maquillaje Social y Peinado Elaborado</h2>
                  <h3>MX $1470 </h3>
                  <p>Maquillaje a tu gusto con tu cab...</p> 
                      
                </ion-label>
              </ion-item>  
               <!-- item 3 -->
               <ion-item>
                <ion-avatar slot="start">
                  <img src="./assets/images/web/inicio-3.jpeg">
                </ion-avatar>
                <ion-label>
                  <h2>Maquillaje Social y Alto Peinado </h2>
                  <h3>MX $1620</h3>
                  <p>Un Peinado con alto grado de dificu...</p>                    
                </ion-label>
              </ion-item>  
              <!-- item 4 -->
              <ion-item>
                <ion-avatar slot="start">
                  <img src="./assets/images/web/inicio-3.jpeg">
                </ion-avatar>
                <ion-label>
                  <h2>Maquillaje y Peinado Niñas, Festival</h2>
                  <h3>$ Precio varia dependiendo de la dificultad del diseño de tu personaje</h3>
                  <p> Favor de Mandar Foto Del Diseño Para Cotizar </p>                                    
                </ion-label>
              </ion-item>  
          </ion-list>
        </div>    
      </div>

      <!-- XV Años -->
      <div class='panel'>
        <div class="categori" (click)="panel4=!panel4">
          <h3 class="panelTitle" style="transform: translate(28%, 27%);">XV Años</h3>
          <ion-img  src="./assets/images/web/inicio-1.png"></ion-img>
          
        </div>
          <div [ngStyle]="{display: !panel4 ? 'none': ''}">
            <ion-list>
            <!-- item 1 -->
              <ion-item>
                <ion-avatar slot="start">
                  <img src="./assets/images/web/inicio-3.jpeg">
                </ion-avatar>
                <ion-label>
                  <h2>Maquillaje y peinado  </h2>
                  <h3>MX $1850</h3>
                  <p>El maquillaje y Peinado per...</p>                      
                </ion-label>
              </ion-item>   
                 <!-- item 2 -->
                 <ion-item>
                  <ion-avatar slot="start">
                    <img src="./assets/images/web/inicio-3.jpeg">
                  </ion-avatar>
                  <ion-label>
                    <h2>Maquillaje</h2>
                    <h3>MX $1100</h3>
                    <p>Tu transformacion de niña a muj...</p> 
                        
                  </ion-label>
                </ion-item>  
                 <!-- item 3 -->
                 <ion-item>
                  <ion-avatar slot="start">
                    <img src="./assets/images/web/inicio-3.jpeg">
                  </ion-avatar>
                  <ion-label>
                    <h2>Peinado </h2>
                    <h3>MX $850</h3>
                    <p>Fijamos tu peinado para que pue...</p>                    
                  </ion-label>
                </ion-item>  
                <!-- item 4 -->
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="./assets/images/web/inicio-3.jpeg">
                  </ion-avatar>
                  <ion-label>
                    <h2>Prueba de Maquillaje y Peinado </h2>
                    <h3>MX $1470</h3>
                    <p>Una prueba siempre te dara...</p>                                    
                  </ion-label>
                </ion-item>  
                  <!-- item 5 -->
                  <ion-item>
                    <ion-avatar slot="start">
                      <img src="./assets/images/web/inicio-3.jpeg">
                    </ion-avatar>
                    <ion-label>
                      <h2>Prueba de  Peinado </h2>
                      <h3>MX $0</h3>
                      <p>Una prueba siempre te dara...</p>                                    
                    </ion-label>
                  </ion-item>  
                    <!-- item 6 -->
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="./assets/images/web/inicio-3.jpeg">
                  </ion-avatar>
                  <ion-label>
                    <h2>Prueba de Maquillaje  </h2>
                    <h3>MX $0</h3>
                    <p>Una prueba siempre te dara...</p>                                    
                  </ion-label>
                </ion-item>  
            </ion-list>
          </div>    
        </div>
  <!-- Novias -->
  <div class='panel'>
    <div class="categori" (click)="panel5=!panel5">
      <h3 class="panelTitle" style="transform: translate(28%, 27%);">Novias </h3>
      <ion-img  src="./assets/images/web/inicio-1.png"></ion-img>
      
    </div>
      <div [ngStyle]="{display: !panel5 ? 'none': ''}">
        <ion-list>
        <!-- item 1 -->
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/images/web/inicio-3.jpeg">
            </ion-avatar>
            <ion-label>
              <h2>Prueba Maquillaje y Peinado</h2>
              <h3>MX $2200</h3>
              <p>Trabajaremos contigo para crear...</p>                      
            </ion-label>
          </ion-item>   
             <!-- item 2 -->
             <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Prueba Maquillaje</h2>
                <h3>MX $1500</h3>
                <p>En una consulta con tu Beautier...</p> 
                    
              </ion-label>
            </ion-item>  
             <!-- item 3 -->
             <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Prueba peinado</h2>
                <h3>MX $1100</h3>
                <p>En una consulta con tu Bea...</p>                    
              </ion-label>
            </ion-item>  
            <!-- item 4 -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Maquillaje y Peinado</h2>
                <h3>MX $2850</h3>
                <p>Las Beautiers especialistas en no...</p>                                    
              </ion-label>
            </ion-item>  
              <!-- item 5 -->
              <ion-item>
                <ion-avatar slot="start">
                  <img src="./assets/images/web/inicio-3.jpeg">
                </ion-avatar>
                <ion-label>
                  <h2>Maquillaje</h2>
                  <h3>MX $1720</h3>
                  <p>Tu maquillaje sera fresco, lucier...</p>                                    
                </ion-label>
              </ion-item>  
                <!-- item 6 -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/web/inicio-3.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Peinado </h2>
                <h3>MX $1270</h3>
                <p>Tu peinado sera tan pulido o tan relaja...</p>                                    
              </ion-label>
            </ion-item>  
        </ion-list>
      </div>    
    </div>

  

</ion-content>
