@import "../../theme/view-container.scss";

:host {
  @extend .view-container;
  .title {
    background-color: #e4c683;
    text-align: center;
    margin-top: 5px;
  }
  .category {
    cursor: pointer;
    transition: all ease 1s;
  }
  .panel {
    text-decoration: none;
    margin-top: 1px;
  }
  .panelTitle {
    font-family: AVENIRLIGHT;
    font-size: 30px;
    text-transform: initial;
    text-align: center;
    font-weight: bold;
    color: #333;   
    background: #fff;
    margin: 0px;
    // text-shadow: 3px 0px 4px #607d8b;
    box-shadow: -1px 2px 4px -1px #333;
   padding:  10px;
  }
  .loaderContainer {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  

ion-list ion-itme button {
  background: #fff;
  color: #333;
}
  .panel:hover {
    margin-top: -5px;
  }
}

