@import '../../../../../theme/view-container.scss';

:host {
  @extend .view-container;
}

ion-toolbar {
  display: none;
}
ion-label {
  max-width: 100% !important;
}

ion-input {
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
}

agm-map {
  height: 150px;
}

ion-grid {
  margin-bottom: 50px;
}

#google-address {
  ion-textarea {
    height: 100px;
  }
}
