<ion-content>
  <ion-list>
    <ion-list-header>            
          <span>Mi Carrito</span>
    </ion-list-header>
    <ion-row *ngIf="!shoppingCart?.workOrder?.line_items">
      <ion-col size="12">
        <p>No se encontraron productos en el carrito, Para ver nuestros servivicios da click en el boton de abajo.</p>
        <ion-button style="width: 90%;" expand="block" color="primary" color="primary" routerLink="/home">Servicios</ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="shoppingCart?.workOrder?.line_items">
      <ion-item *ngFor="let item of shoppingCart.workOrder.line_items; index as i;">
        <ion-label>
          <h2>{{ item.service.name }}</h2>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <span class="text-xs">Cant.</span>
              </ion-col>
              <ion-col size="5">
                <span class="text-xs">Precio</span>
              </ion-col>
              <ion-col size="5">
                <span class="text-xs">Subtotal</span>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <ion-input class="ion-text-center" value="{{ item.quantity }}" type="number" inputmode="numeric" min="0"
                  step="1" (ionChange)="changeQuantity($event, i)" (ionBlur)="checkLineItem($event, i)"></ion-input>
              </ion-col>
              <ion-col size="5">
                <span>{{ item.price | currency:'es-MX':'MXN' }}</span>
              </ion-col>
              <ion-col size="5">
                <span>{{ item.price * item.quantity | currency:'es-MX':'MXN' }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span>{{ item.service_date | date:'EEE d MMM y':'es-MX' }} @ {{ item.service_time }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="7">Total</ion-col>
            <ion-col size="5">
              <span>{{ getTotal() | currency:'es-MX':'MXN' }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <div class="direction-content">
            <h4>Puedes elegir una de las dos opciones:</h4>
            <ion-button
              expand="full"
              (click)="addressGoogleMapPanel =! addressGoogleMapPanel; addressPanel = false;">Direcci&oacute;n con Google Maps</ion-button>
            <section id="google-address" [ngStyle]="{display: !addressGoogleMapPanel ? 'none': 'block', 'height': '200px'}">
              <ion-row>
                <ion-col size="12">
                  <input
                    placeholder="Direcci&oacute;n del Servicio"
                    style="width: 100%;"
                    ngx-google-places-autocomplete
                    [options]="placesOptions"
                    (onAddressChange)="handleAddressChange($event)" />
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <span>{{ serviceAddress?.formatted_address}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-textarea
                    [ngStyle]="{height: !addressGoogleMapPanel ? '0' : '100px'}"
                    class="w-full"
                    rows="5"
                    placeholder="Escribe aqu&iacute; el n&uacute;mero de interior si aplica o cualquier indicaci&oacute;n especial para tu orden.">
                  </ion-textarea>
                </ion-col>
              </ion-row>
            </section>
            <div style="text-align: center;">
              <h4> &Oacute;</h4>
              <ion-button
                expand="full"
                (click)="addressPanel =! addressPanel; addressGoogleMapPanel = false;">Direcci&oacute;n Normal</ion-button>
              <ion-row>
                <form [formGroup]="addressForm">
                  <ion-col size="12" [ngStyle]="{display: !addressPanel ? 'none': 'block'}">
                    <ion-row class="ion-align-items-start">
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>Calle </ion-label>
                          <ion-input formControlName="calle"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>Colonia</ion-label>
                          <ion-input formControlName="colonia"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>No. Int.</ion-label>
                          <ion-input type="text" formControlName="noInt"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>No. Ext.</ion-label>
                          <ion-input type="text" formControlName="noExt"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>C.P.</ion-label>
                          <ion-input type="number" formControlName="cp"></ion-input>
                        </ion-item>
                      </ion-col>

                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>Pa&iacute;s</ion-label>
                          <ion-select formControlName="pais">
                            <ion-select-option value="MX">M&eacute;xico</ion-select-option>
                            <ion-select-option value="USA">Estados Unidos</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>Estado</ion-label>
                          <ion-input formControlName="estado"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="12">
                        <ion-item>
                          <ion-label>Ciudad</ion-label>
                          <ion-input formControlName="ciudad"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </form>
              </ion-row>
            </div>
          </div>
          <ion-row *ngIf="pagar">
            <ion-col size="12">
              <ion-button expand="block" color="primary" color="primary" routerLink="payment">Pagar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
