
<ion-content>

  <ion-list>
    <ion-list-header>
      <span>Mi Carrito</span>
    </ion-list-header>
    <ng-container *ngIf="shoppingCart?.workOrder?.line_items">
      <ion-item *ngFor="let item of shoppingCart.workOrder.line_items; index as i;">
        <ion-label>
          <h2>{{ item.service.name }}</h2>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <span class="text-xs">Cant.</span>
              </ion-col>
              <ion-col size="5">
                <span class="text-xs">Precio</span>
              </ion-col>
              <ion-col size="5">
                <span class="text-xs">Subtotal</span>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                
                <ion-input
                  class="ion-text-center"
                  value="{{ item.quantity }}"
                  type="number"
                  inputmode="numeric"
                  min="0"
                  step="1"
                  (ionChange)="changeQuantity($event, i)"
                  (ionBlur)="checkLineItem($event, i)"
                  ></ion-input>
              </ion-col>
              <ion-col size="5">
                <span>{{ item.price | currency:'es-MX':'MXN' }}</span>
              </ion-col>
              <ion-col size="5">
                <span>{{ item.price * item.quantity | currency:'es-MX':'MXN' }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span>{{ item.service_date | date:'EEE d MMM y':'es-MX' }} @ {{ item.service_time }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="7">Total</ion-col>
            <ion-col size="5">
              <span>{{ getTotal() | currency:'es-MX':'MXN' }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <input
                style="width: 100%;"
                ngx-google-places-autocomplete
                [options]="placesOptions"
                (onAddressChange)="handleAddressChange($event)" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span>{{ serviceAddress?.formatted_address}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </ion-col>
          </ion-row>
          <ion-row>
            
            <ion-col size="12">
              <ion-textarea
                class="w-full"
                rows="5"
                auto-grow="true"
                placeholder="Introduce aqu&iacute; el n&uacute;mero de interior o apartamento si aplica as&iacute; como cualquier indicaci&oacute;n especial para tu orden."></ion-textarea>
            </ion-col>
          </ion-row>
        
          <ion-row *ngIf="shoppingCart?.workOrder.place_id">
            <ion-col size="12">
              <ion-button expand="block" routerLink="payment">Pagar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
